@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  scrollbar-width: normal;
  scrollbar-color: #0077BC;
}

html::-webkit-scrollbar {
  width: 0.75vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #65B5AC;
  border-radius: 100vw;
}

html::-webkit-scrollbar-track {
  border-radius: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.animation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1000;
  perspective: 1000px;
}

.wave-path {
  display: none;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.2));
  animation: drawSignature 3s ease-out forwards;
  transform-style: preserve-3d;
}

.wave-2 {
  animation-delay: 0.3s;
  filter: drop-shadow(0 0 12px rgba(34, 197, 94, 0.2));
}

.wave-1 {
  filter: drop-shadow(0 0 12px rgba(8, 145, 178, 0.2));
}

@keyframes drawSignature {
  0% {
    stroke-dashoffset: 1000;
    transform: translate3d(-200px, -100px, -400px) rotateX(45deg) rotateY(-15deg);
    opacity: 1;
  }
  
  50% {
    stroke-dashoffset: 0;
    transform: translate3d(100px, 50px, 300px) rotateX(10deg) rotateY(5deg);
    opacity: 1;
  }

  100% {
    stroke-dashoffset: 0;
    transform: translate3d(200px, 100px, 500px) rotateX(0deg) rotateY(10deg);
    opacity: 0;
  }
}

/* Define keyframes for the color change */
@keyframes colorChange {
  0% { fill: #0077BC; }
  50% { fill: #65B5AC; }  /* Tomato color */
  100% { fill: #0077BC; }
}

/* Apply the animation to the arrow class */
.arrow .colorChangePath {
  animation: colorChange 2s infinite;
}

.arrow path {
  transition: fill 0.5s ease;
}


.ondebox {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.onde {
  position: relative;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
  margin-bottom: 0;
}

.parallaxonde > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallaxonde > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallaxonde > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallaxonde > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallaxonde > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 768px) {
  .onde {
    height: 40px;
    min-height: 40px;
  }
}

/* Update the CSS to target the li elements inside circleBehind */
.circleBehind li:before, .circleBehind li:after {
    /* ... existing styles ... */
}
