

  
  .down-icon {
    animation: moveDown 0.5s infinite alternate;
  }
  
  @keyframes moveDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px); /* Adjust the value for more or less movement */
    }
  }